<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ru.redsolution.rosyama"
      android:versionCode="8"
      android:versionName="0.2.2">
    <uses-sdk android:minSdkVersion="3" />
    <!-- Не забыть установить Rosyama.DEBUG в false -->
    <application android:name=".data.Rosyama" android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Auth" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".HoleEdit" android:label="@string/hole_edit_title" />
        <activity android:name=".PhotoList" android:label="@string/photo_list_title" />
        <activity android:name=".Map" android:label="@string/map_title" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".HoleList" android:label="@string/hole_list_title" />
        <activity android:name=".HoleDetail" android:label="@string/hole_detail_title" />
        <activity android:name=".PDFPreview" android:label="@string/pdf_previed_title" />
        <activity android:name=".About" android:label="@string/about_title" android:theme="@android:style/Theme.NoTitleBar" />
        <uses-library android:name="com.google.android.maps" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
</manifest>